.container {
  width: 1200px;
  padding: 1em;
  text-align: center;
  background: rgb(189, 193, 237);
  color: #2c3458;
  border-radius: 10px;
  margin: 1em auto;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

@media only screen and (max-width: 1250px) {
  .container {
    width: 100%;
  }
}

@media only screen and (min-width: 1650px) {
  .container {
    display: inline-block;
    margin: 1em;
  }
}