.container {
  background: rgb(39, 40, 51);
  color: rgb(161, 158, 222);
}

.main {
  min-height: 100vh;
  padding: 0rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


