.container {
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  background: rgb(39, 40, 51);
  color: rgb(161, 158, 222);
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.footer {
  background: rgb(39, 40, 51);
  color: rgb(161, 158, 222);
  width: 100%;
  text-align: center;
  height: 70px;
  margin-top: 2rem;
}

@media only screen and (max-width: 1250px) {
  .container {
    padding: 1em;
  }
}

@media only screen and (min-width: 1650px) {
  .main {
    flex-direction: row;
  }
}


